div {
  background-color: #d9dfdf;
}

.hidden {
  display: none;
}

header img {
  width: 15%;
  height: auto;
  display: block;
  margin: auto;
}

body h1 {
  text-align: center;
}

body h2 {
  text-align: center;
}

.blog {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin: 2em;
}
.blog a {
  text-decoration: none;
  background-color: transparent;
  text-align: center;
}

div {
  display: grid;
  grid-auto-flow: row;
  align-content: space-around;
}

div p {
  text-align: justify;
  margin: 1em 2em 1em 2em;
}

div > audio {
  margin: 0.5em auto 0.5em auto;
  display: flex;
  align-content: space-between;
}

div > img {
  width: 30%;
  height: auto;
  margin: 2em auto 2em auto;
  display: flex;
  align-content: space-between;
}

.blog > a {
  background-color: #d9dfdf;
  border-radius: 0.5em;
}
